---
import { Image } from "astro:assets";
import logo from "../../public/logos/webhaven_logo_horizontal.png";
---

<header>
  <nav class="bg-white shadow">
    <Image
      src={logo}
      class="h-8 w-auto"
      alt="The WebHaven"
      width="150"
      height="50"
    />
  </nav>
</header>
